@model IEnumerable<dvdrentalweb.Models.DVDTitle>
@{
    ViewData["Title"] = "DVDTitleList_04";
}

<h1>Producer, Studio and Cast Members </h1>

<table class="table">

    <thead>
        <tr>
            <th>
               DVD Title
            </th>
            <th>
               Producer
            </th>
            <th>
               Castlist
            </th>
            <th>
               Studio
            </th>
            <th>
               Date Released
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @item.DvdTitle
            </td>
            <td>
                @item.ProducerName
            </td>
            <td>
                @item.ActorFirstName @item.ActorSurname
            </td>
            <td>
                @item.StudioName
            </td>
            <td>
                @item.DateReleased
            </td>
        </tr>
}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
